/* Ini File CSS */

main {
    display: flex;
    gap: 65px;
    padding: 32px;
    font-family: Nunito;
}

/* ini untuk styling footer */
footer {
    text-align: center;
    font-family: monospace;
    font-size: 15px;
}

/* ini untuk styling header */
.main-header {
    text-align: center;
    font-family: Nunito;
    font-size: 0.98rem;
}

p {
    font-size: smaller;
    text-align: justify;
}

/* ini untuk styling form input type number */
input[type=number] {
    width: 100%;
    padding: 12px 20px;
    /* margin: 8px 0; */
    box-sizing: border-box;
    /* border: 1px solid #8c8c8c; */
    border-radius: 0 5px 5px 0;
    border: none;
}

/* ini untuk styling form input */
form {
    background-color: #dfefff;
    padding: 32px;
    border-radius: 8px;
    font-weight: bold;
}

/* ini untuk styling form group */
.form-group {
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;
}
/* 
.input-gender {
    padding-bottom: 5px;
} */

/* ini untuk styling button */
button {
    border: none;
    padding: 8px;
    color: #ffffff;
    border-radius: 8px;
    font-family: Nunito;
}

/* ini untuk styling button reset */
.bg-red {
    background-color: #ff0000;
    margin-left: 5px;
}

/* ini untuk styling hover button reset */
.bg-red:hover {
    background-color: #d42323;
}

/* ini untuk styling button hitung */
.bg-blue {
    background-color: #0065d2;
    margin-right: 5px;
}

/* ini untuk styling hover button hitung */
.bg-blue:hover {
    background-color: #007bff;
}

/* ini untuk styling section hasil */
.result-section {
    padding: 16px;
    text-align: center;
    background-color: #dfefff;
    border-radius: 8px;
}

/* ini untuk styling hasil bmi */
#result-bmi {
    font-size: xxx-large;
    font-family: math;
}

.feature {
    margin-bottom: 0;
    font-size: 1.5rem;
    font-weight: normal;
}

.feature-list {
    padding-left: 18px;
    font-size:  0.9rem;
    text-align: justify;
}

html {
    background-color: #f1fff2;
}

/* ini untuk styling hasil penyakit */
.result-disease {
    padding: 16px;
    text-align: center;
    background-color: #dfefff;
    border-radius: 8px;
    font-size: 0.9rem;
}

.result-disease ul{
    padding-left: 0px;
}

#disease1 {
    font-weight: bold;
}

#disease2 ul {
    margin: 0px;
}


/* css untuk icon input */
.input-group {
    display: flex;
    /* align-items: center; */
    border: 1px solid #8c8c8c;
    border-radius: 5px;
    background-color: #d5d5d5c5;
    /* padding: 5px; */
}

/* css untuk icon input */
.input-group .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    color: black;
}

/* css untuk group input */
.input-group input {
    /* border: none; */
    /* outline: none; */
    flex: 1;
    /* font-size: 14px; */
    /* padding: 8px; */
    /* background-color: transparent; */
}

/* css untuk placeholder */
.input-group input::placeholder {
    color: #aaa;
}

/* memberi jarak */
.form-group label {
    padding-top: 7px;
    padding-bottom: 5px;
}

/* memberi jarak pada button */
.button-group {
    padding-top: 10px;
    text-align: center;
}

/* css untuk font nunito */
.nunito-nun {
    font-family: "Nunito", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

/* Styling Media Query 768px */
@media screen and (max-width: 768px) {
    main {
        flex-direction: column;
        gap: 32px;
    }
}

/* Styling Media Query 480px */
@media screen and (max-width: 480px) {
    form {
        padding: 16px;
    }
    .form-group {
        padding-bottom: 10px;
    }
    button {
        padding: 5px;
    }
    .result-section {
        padding: 8px;
    }
    #result-bmi {
        font-size: xx-large;
    }
    .feature {
        font-size: 1.2rem;
    }
    .feature-list {
        font-size: 0.8rem;
    }
    .result-disease {
        padding: 8px;
    }
    #disease {
        font-size: 1.2rem;
    }
    #disease2 ul {
        font-size: 0.8rem;
    }
    
}

/* Styling Media Query 340px */
@media screen and (max-width: 340px) {
    .result-section {
        padding: 5px;
    }
    .result-disease {
        padding: 5px;
    }
    html {
        font-size: 70%;
    }    
}